@import './style';

.signIn {
  background-color: $gray;
  .signInBox {
    @include flex-style(column);
    border-radius: 12px;
    border: 4px solid white;
    padding: 50px;
    min-width: 400px;
    min-height: 500px;
    h2 {
      font-family: $boldFont;
      color: white;
      letter-spacing: 3px;
    }
    > .form {
      width: 100%;
      margin-bottom: 20px;
      > input {
        width: 100%;
        height: 46px;
        border: 2px solid white;
        border-radius: 8px;
        background-color: transparent;
        padding: 5px;
        color: white;
        font-family: $middleFont;
        transition: all 0.3s;
        &::placeholder {
          color: white;
        }
        &:focus {
          background-color: rgba($color: $black, $alpha: 0.4);
          transition: all 0.3s;
        }
      }
      :first-child {
        margin: 30px 0 15px;
      }
    }
    p {
      color: white;
      margin-bottom: 20px;
      margin-top: -15px;
      width: 100%;
      span {
        font-family: $boldFont;
      }
    }
    > .remember-id {
      width: 100%;
      display: block;
      position: relative;
      label {
        width: 35%;
        display: block;
        cursor: pointer;
        color: white;
        position: relative;
        z-index: 2;
        transition: color 200ms ease-in;
        overflow: hidden;
        font-family: $middleFont;
        &:before {
          width: 16px;
          height: 16px;
          content: '';
          border: 2px solid #d1d7dc;
          background-color: #fff;
          background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
          background-position: -1px -1px;
          border-radius: 15px;
          z-index: 2;
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-8px) translateX(25px);
          cursor: pointer;
          transition: all 0.2s;
        }
      }

      input:checked ~ label {
        color: #fff;
        &:before {
          background-color: $subColor;
          border-color: $subColor;
        }
      }

      input {
        position: absolute;
        transform: translateY(-50%);
        visibility: hidden;
      }
    }
    hr {
      margin: 20px 0;
      width: 100%;
    }
    > span {
      margin-bottom: 20px;
      width: 100%;
      padding: 10px;
      background-color: $thBackColor;
      font-family: $middleFont;
      border-radius: 10px;
      > p {
        font-family: $boldFont;
        display: inline-block;
      }
    }
    button {
      width: 100%;
      font-family: $boldFont;
      border-radius: 7px;
      color: white;
      padding: 10px 0;
      transition: all 0.3s;
      border: 2px solid white;
      box-shadow: 0px 0px 1px white;
      &:hover {
        background-color: rgba($color: $black, $alpha: 0.4);
        transition: all 0.3s;
        box-shadow: 0px 0px 4px white;
      }
    }
  }
}

.dashboard {
  > .row {
    width: 100%;
    align-items: flex-start;

    &:nth-child(2) {
      > div {
        > div {
          max-height: 260px;
          overflow: auto;
        }
      }
    }

    > div {
      flex: 1;
      background-color: white;
      margin: 10px;
      height: auto;
      min-height: 270px;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 1px 1px 4px $subFontColor;
      .title-wrap {
        @include flex-style($justifyVal: space-between);
        border: none;
        margin-top: 0;
        h2 {
          font-family: $boldFont;
          color: $gray;
        }
        p {
          font-size: 14px;
          color: $gray02;
          &::before {
            content: '*';
            color: $red;
          }
        }
      }
      > div {
        margin-top: 10px;
        overflow: auto;
        border: 1px solid $gray03;
        &.none-list {
          @include flex-style();
          background-color: white;
          height: 200px;
          > svg {
            font-size: 100px;
            color: $gray04;
          }
        }
        &.table-wrap {
          > table {
            width: 100%;
            text-align: center;
            border-collapse: collapse;
            thead {
              background-color: $thBackColor;
            }
            tr {
              &:last-child {
                > td {
                  border-bottom: none;
                }
              }
              > th,
              td {
                border-bottom: 1px solid $gray03;
                padding: 5px 0;
                .crown {
                  font-size: 30px;
                  &.rank1 {
                    color: #ffd700;
                  }
                  &.rank2 {
                    color: #c0c0c0;
                  }
                  &.rank3 {
                    color: #a0522d;
                  }
                  &.rank4,
                  &.rank5 {
                    color: $gray;
                  }
                }
              }
              th {
                font-family: $middleFont;
              }
            }
          }
        }
        &.king {
          min-height: 200px;
          height: auto;
          > table {
            tr {
              cursor: auto;
              &:hover {
                td {
                  color: black;
                }
              }
              &:last-child {
                border-bottom: none;
              }
              &:first-child {
                border-bottom: 1px solid $gray04;
              }
            }
          }
        }
        &.count-wrap {
          height: 200px;
          div {
            font-size: 20px;
            font-family: $middleFont;
            &.count {
              font-size: 50px;
              font-family: $boldFont;
              > svg {
                transform: translateY(5px);
              }
            }
          }
        }
      }
    }
  }
}

.statistic {
  padding: 70px 90px !important;
  .section {
    margin-top: 30px;
    width: 100%;
    height: 700px;
    position: relative;
    .row {
      @include position-style();
      justify-content: flex-start;
      width: 100%;
      height: 50px;
      border-top-left-radius: 16px;
      padding-left: 50px;
      .subject {
        @include flex-style();
        cursor: pointer;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border: 1px solid $gray;
        border-right: none;
        height: 50px;
        width: 100px;
        background-color: white;
        &:last-child {
          border-right: 1px solid $gray;
        }
      }
    }
    .column {
      @include position-style();
      justify-content: flex-start;
      width: 50px;
      height: 100%;
      border-top-left-radius: 16px;
      padding-top: 50px;
      > .chart {
        @include flex-style();
        cursor: pointer;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        background-color: white;
        width: 50px;
        height: 100px;
        border: 1px solid $gray;
        border-bottom: none;
        &:last-child {
          border-bottom: 1px solid $gray;
        }
      }
    }
    > .chart-area {
      @include position-style($top: 50px, $left: 50px);
      width: calc(100% - 50px);
      height: calc(100% - 50px);
      background-color: $bgColor;
      border-radius: 16px;
      border-top-left-radius: 0;
    }
    .active {
      background-color: $gray !important;
      color: white;
      font-family: $boldFont;
    }
  }
}

.manage {
  .table-wrap {
    > table {
      width: 100%;
      .checkBoxArea {
        padding: 10px;
      }
      thead {
        tr {
          cursor: default;
        }
      }
      tr {
        cursor: pointer;
        th,
        td {
          padding: 20px;
          > .couponBtn {
            background-color: $gray02;
            padding: 5px 20px;
            color: white;
            font-family: $boldFont;
            border-radius: 6px;
          }
          &.user {
            color: $highlightColor;
          }
          &.resign {
            color: $tongMainColor;
          }
        }
        &:hover {
          td {
            color: $mainColor;
            &.user {
              color: $highlightColor;
            }
            &.resign {
              color: $tongMainColor;
            }
          }
        }
      }
    }
  }
}

.notice,
.mark-qna {
  .topBar {
    > div > button {
      &:nth-child(2) {
        border-right: 1px solid white;
      }
    }
  }
}

.service {
  .topBar {
    > button {
      color: white;
      background-color: $gray;
      padding: 10px 30px;
      font-size: 15px;
      border-radius: 8px;
      font-family: $boldFont;
    }
  }
  .service-wrap {
    @include flex-style();
    flex-wrap: wrap;
    margin-top: 50px;
    .serviceBox {
      cursor: pointer;
      position: relative;
      span {
        @include position-style($top: 10px, $left: 15px);
        display: inline-block;
        color: $gray01;
        font-size: 14px;
        font-family: $middleFont;
      }
      @include flex-style(column);
      background-color: white;
      border-radius: 16px;
      box-shadow: 0 0 10px rgba($color: $gray, $alpha: 0.4);
      margin: 30px;
      width: 35%;
      height: 150px;
      font-family: $boldFont;
      font-size: 32px;
      color: $gray;
      transition: all 0.3s;
      &:hover {
        transition: all 0.3s;
        box-shadow: 0 0 10px rgba($color: $gray, $alpha: 0.7);
      }
    }
  }
}

.adminManage {
  .table-wrap {
    tbody > tr {
      td {
        button {
          background-color: $gray;
          color: white;
          padding: 5px 15px;
          font-family: $boldFont;
          border-radius: 8px;
        }
        &.resign {
          color: $tongMainColor;
        }
        &.user {
          color: $highlightColor;
        }
      }
    }
  }
}

.product {
  .table-wrap {
    tbody > tr {
      cursor: pointer;
      &:hover {
        > td {
          color: $mainColor;
        }
      }
      > .price {
        text-align: right;
        transform: translateX(-120px);
      }
    }
  }
}

.usa-cache {
  .topBar {
    > div {
      :first-child {
        margin-right: 10px;
        font-family: $middleFont;
        > span {
          font-family: $boldFont;
          color: $highlightColor;
        }
      }
      :nth-child(2) {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-right: 1px solid white;
      }
    }
  }
  .table-wrap {
    tbody > tr > td {
      &.arr {
        cursor: pointer;
        font-family: $middleFont;
        color: $highlightColor;
      }
    }
  }
}

.event {
  .table-wrap {
    tr {
      cursor: auto;
      &:hover {
        td {
          color: black;
        }
      }
    }
  }
}

.popup {
  td {
    > img {
      height: 100px;
      max-width: 100%;
    }
  }
}

.loading {
  @include flex-style();
  @include position-style($top: 0, $left: null);
  right: 0;
  width: calc(100vw - 230px);
  height: 100vh;
  > img {
    position: absolute;
  }
}

@include desktop {
  .dashboard {
    > .row {
      .title-wrap {
        h2 {
          font-size: 17px;
        }
        p {
          font-size: 12px !important;
        }
      }
    }
  }
  .manage {
    .table-wrap {
      > table thead,
      tbody {
        th,
        td {
          // overflow-x: auto;
          white-space: nowrap;
        }
      }
    }
  }
}

@include mobile {
  .signIn {
    .signInBox {
      width: 80vw;
      min-width: 0px;
      > img {
        width: 90%;
      }
      > div {
        > label {
          width: 55% !important;
        }
      }
    }
  }
}

@include fold {
  .signIn {
    .signInBox {
      > div {
        > label {
          width: 100% !important;
        }
      }
    }
  }
}
