@charset "UTF-8";
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.container > .content-wrap {
  width: calc(100% - 230px);
  margin-left: 230px;
  min-height: 100vh;
  background-color: #e7e3e0;
  right: 0;
  padding: 90px;
}
.container > .content-wrap > h2 {
  font-family: "NotoSansB", "맑은 고딕", "sans-serif";
  font-size: 50px;
  color: #333333;
}
.container.signIn {
  background-color: #434343;
}
.container.signIn .signInBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 4px solid white;
  padding: 50px;
  min-width: 400px;
  min-height: 500px;
}
.container.signIn .signInBox h2 {
  font-family: "NotoSansB", "맑은 고딕", "sans-serif";
  color: white;
  letter-spacing: 3px;
}
.container.signIn .signInBox > .form {
  width: 100%;
  margin-bottom: 20px;
}
.container.signIn .signInBox > .form > input {
  width: 100%;
  height: 46px;
  border: 2px solid white;
  border-radius: 8px;
  background-color: transparent;
  padding: 5px;
  color: white;
  font-family: "NotoSansM", "맑은 고딕", "sans-serif";
  transition: all 0.3s;
}
.container.signIn .signInBox > .form > input::placeholder {
  color: white;
}
.container.signIn .signInBox > .form > input:focus {
  background-color: rgba(21, 23, 26, 0.4);
  transition: all 0.3s;
}
.container.signIn .signInBox > .form :first-child {
  margin: 30px 0 15px;
}
.container.signIn .signInBox > .remember-id {
  width: 100%;
  display: block;
  position: relative;
}
.container.signIn .signInBox > .remember-id label {
  width: 35%;
  display: block;
  cursor: pointer;
  color: white;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
  font-family: "NotoSansM", "맑은 고딕", "sans-serif";
}
.container.signIn .signInBox > .remember-id label:before {
  width: 16px;
  height: 16px;
  content: "";
  border: 2px solid #d1d7dc;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-position: -1px -1px;
  border-radius: 15px;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-8px) translateX(25px);
  cursor: pointer;
  transition: all 0.2s;
}
.container.signIn .signInBox > .remember-id input:checked ~ label {
  color: #fff;
}
.container.signIn .signInBox > .remember-id input:checked ~ label:before {
  background-color: #3c8fef;
  border-color: #3c8fef;
}
.container.signIn .signInBox > .remember-id input {
  position: absolute;
  transform: translateY(-50%);
  visibility: hidden;
}
.container.signIn .signInBox hr {
  margin: 20px 0;
  width: 100%;
}
.container.signIn .signInBox button {
  width: 100%;
  font-family: "NotoSansB", "맑은 고딕", "sans-serif";
  border-radius: 7px;
  color: white;
  padding: 10px 0;
  transition: all 0.3s;
  border: 2px solid white;
  box-shadow: 0px 0px 1px white;
}
.container.signIn .signInBox button:hover {
  background-color: rgba(21, 23, 26, 0.4);
  transition: all 0.3s;
  box-shadow: 0px 0px 4px white;
}

.sideBar {
  position: fixed;
  left: 0;
  top: 0;
  justify-content: flex-start;
  width: 230px;
  height: 100vh;
  background-color: #333333;
}
.sideBar img {
  width: 60%;
  margin: 30px 0;
}
.sideBar > .mainMenu {
  width: 100%;
  margin-bottom: 60px;
  border-top: 1px solid #858585;
}
.sideBar > .mainMenu a {
  text-decoration: none;
}
.sideBar > .mainMenu li {
  text-justify: center;
  border-bottom: 1px solid #858585;
  color: white;
  padding: 15px;
}
.sideBar > .mainMenu li:hover {
  background-color: #434343;
  font-family: "NotoSansM", "맑은 고딕", "sans-serif";
}
.sideBar > .mainMenu li.main {
  padding: 3px 15px;
  background-color: rgba(255, 255, 255, 0.15);
  font-family: "NotoSansB", "맑은 고딕", "sans-serif";
}

.logoutBtn {
  width: 230px;
  position: fixed;
  background-color: #434343;
  border-top: 1px solid #858585;
  text-align: center;
  left: 0;
  bottom: 0;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-family: "NotoSansB", "맑은 고딕", "sans-serif";
  transition: all 0.3s;
}
.logoutBtn:hover {
  transition: all 0.3s;
  background-color: #de5d60;
}

.dashboard > .row {
  width: 100%;
}
.dashboard > .row:nth-child(2) > div > div {
  max-height: 260px;
  overflow: auto;
}
.dashboard > .row > div {
  flex: 1;
  background-color: white;
  margin: 10px;
  height: auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #858585;
}
.dashboard > .row > div h2 {
  font-family: "NotoSansB", "맑은 고딕", "sans-serif";
  color: #434343;
}
.dashboard > .row > div > div {
  margin-top: 10px;
  overflow: auto;
  border: 1px solid #cdcdcd;
}
.dashboard > .row > div > div.table-wrap > table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.dashboard > .row > div > div.table-wrap > table thead {
  background-color: #f5f5f5;
}
.dashboard > .row > div > div.table-wrap > table tr > th,
.dashboard > .row > div > div.table-wrap > table tr td {
  border-bottom: 1px solid #cdcdcd;
  padding: 10px 0;
}
.dashboard > .row > div > div.table-wrap > table tr th {
  font-family: "NotoSansM", "맑은 고딕", "sans-serif";
}
.dashboard > .row > div > div.king {
  height: auto;
}
.dashboard > .row > div > div.count-wrap {
  height: 220px;
}
.dashboard > .row > div > div.count-wrap div {
  font-size: 20px;
  font-family: "NotoSansM", "맑은 고딕", "sans-serif";
}
.dashboard > .row > div > div.count-wrap div.count {
  font-size: 50px;
  font-family: "NotoSansB", "맑은 고딕", "sans-serif";
}